title: ReviewHuntr.com - The best reviews on the internet.
description: > # this means to ignore newlines until "baseurl:"
  ReviewHuntr.com is creating the best reviews on the internet. 
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://reviewhuntr.com" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: ReviewHuntr # add your name
author-img: logo/400dpiLogo.jpg # add your photo
about-author: The best reviews on the internet. 

# Disqus
# discus-identifier: mr-brown # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "vendor", "gulpfile.js", "package.json", "yarn.lock"]
