{%- assign product = site.data.products | where:"id",include.id | first -%}

{%- comment -%} product url {%- endcomment -%}
{%- if include.return == "url" -%}
    {{ product.url }}?tag={{ site.amazon-aid }}
{%- endif -%}

{%- comment -%} product full name {%- endcomment -%}
{%- if include.return == "name" -%}
    {{ product.name }}
{%- endif -%}

{%- comment -%} link with full name {%- endcomment -%}
{%- if include.return == "link" -%}
  <span> <a 
      class="product-link"
      href="{{ product-url }}" 
      target="_blank">{{ product.name }}</a> </span>
{%- endif -%}

{%- comment -%} link with short name {%- endcomment -%}
{%- if include.return == "sn-link" -%}
  <span> <a 
      class="product-link" 
      href="{{ product-url }}" 
      target="_blank">{{ product.short-name }}</a> </span>
{%- endif -%}

{%- comment -%} grabs the first image from the imgs to use as a header {%- endcomment -%}
{%- if include.return == "img" -%}
    {{ product.imgs | first | strip }}
{%- endif -%}