{%- assign product = site.data.products | where:"id",include.id | first -%}

<!-- product name -->
{%- if product.name -%}
  {%- capture product-name -%}
    {{ product.name }}
  {%- endcapture -%}
{%- endif -%}

<!-- product asin -->
{%- if product.asin -%}
  {%- capture product-asin -%}
    {{ product.asin }}
  {%- endcapture -%}
{%- endif -%}

<!-- Amazon url -->
{%- if product.asin -%}
  {%- capture amazon-url -%}
    {{ site.data.amazon.product-url }}{{ product.asin }}?tag={{ site.amazon-aid }}
  {%- endcapture -%}
{%- endif -%}

<!-- product full name -->
{%- if product.name -%}
  {%- capture product-title -%}
    {{ product.name }} - Review
  {%- endcapture -%}
{%- endif -%}

<!-- link with full name -->
{%- if product.name -%}
  {%- capture link -%}
  <span><a 
      class="product-link"
      href="{{ amazon-url }}" 
      target="_blank">{{ product.name }}</a></span>
  {%- endcapture -%}
{%- endif -%}

<!-- link with short name -->
{%- if product.short-name -%}
  {%- capture sn-link -%}
  <span><a 
      class="product-link" 
      href="{{ amazon-url }}" 
      target="_blank">{{ product.short-name }}</a></span>
  {%- endcapture -%}
{%- endif -%}

<!-- grabs the first image from the imgs to use as a header -->
{%- if product.imgs -%}
  {%- capture header-img -%}
    {{ product.imgs | first | strip }}
  {%- endcapture -%}
{%- endif -%}

